@use "../../libs/normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.slides {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #000000;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0;
  background-position: 50% 50%;
  background-size: cover;
  transition: opacity 2.5s;

  &-container {
    background-color: black;
    width: 100%;
    height: 100%;
  }
}

.active {
  opacity: 1;
  z-index: 1;
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  text-shadow: 0 0 30px rgb(0 0 0 / 50%);
  cursor: pointer;

  &-next,
  &-prev {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-prev:hover,
  &-prev:focus {
    color: #ffffff;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    text-shadow: 0 0 10px #ffffff;
    outline: none;
  }

  &-next:hover,
  &-next:focus {
    color: #ffffff;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    text-shadow: 0 0 10px #ffffff;
    outline: none;
  }

  &-pause {
    top: calc(50% - 20vh);
    left: calc(50% - 20vh);
    height: 0;
    padding: 0;
    transition: opacity 0.25s ease-out;
    opacity: 0;

    &:hover,
    &:focus {
      transition: opacity 1s ease-in;
      opacity: 1;
    }

    & > span {
      position: absolute;
      opacity: 0;
    }
  }

  &-prev {
    left: 0;
    width: 10%;
  }

  &-next {
    right: 0;
    width: 10%;
  }
}

.fas fa-pause-circle:hover,
:focus {
  position: relative;
  top: calc(50% - 20vh);
  left: calc(50% - 20vh);
  height: 0;
  padding: 0;
  transition: opacity 0.25s ease-out;
  opacity: 0;
  cursor: pointer;
}

.fa-play-circle,
.fa-pause-circle {
  color: rgba(255, 255, 255, 0.4);
  font-size: 40vh;
  font-weight: 200;
}

.fa-angle-left,
.fa-angle-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 60px;
  text-shadow: 0 0 1em rgb(175, 155, 155), 0 0 0.2em rgb(104, 104, 248);
  font-weight: 900;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.indicators {
  display: flex;
  gap: 1em;
  margin: 1em;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
}

.indicator {
  width: 20px;
  height: 20px;
  margin: -40px 7.5px 0;
  border: 3px solid rgba(88, 80, 80, 0.4);
  border-radius: 50%;
  outline: none;
  background: none;
  background-clip: padding-box;
  box-shadow: 1px 1px 2px rgb(182, 125, 125), 0 0 1em rgb(175, 155, 155),
    0 0 0.2em rgb(104, 104, 248);
  cursor: pointer;

  &.active {
    background-color: rgb(255, 0, 0);
  }
}
